/**
  Lumus Library

  CSS variables
 */

 :root {
  /* Brand colors */
  --primary:    #6338ff;
  --secondary:  #d400d4;
  --dark:       #5c5673;

  /* Background colors */
  --body:       #fbfbfb;
  --body-light: #f2f2f2;
  --body-alt:   #5c5673;

  /* Text colors */
  --heading:    #211f2c;
  --text:       #3b374a;
  --text-light: #7f7c8c;
  --text-alt:   #e6e6e6;
  --inactive:   #ccc;

  /* Link colors */
  --link:       #4e9ff6;
  --link-alt:   #8ac3ff;

  /* Alerts colors */
  --positive:   #3dc020;
  --negative:   #d93229;
  --warning:    #e0a400;
  --info:       #00b8f6;

  /* Font */
  --body-font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --body-font-size:   16px;

  /* Typography */
  --h1-font-size:     clamp(2.25rem, 1.6928rem + 2.4096vw, 3.5rem);
  --h2-font-size:     clamp(2rem, 1.5542rem + 1.9277vw, 3rem);
  --h3-font-size:     clamp(1.75rem, 1.4157rem + 1.4458vw, 2.5rem);
  --h4-font-size:     clamp(1.5rem, 1.2771rem + 0.9639vw, 2rem);
  --h5-font-size:     clamp(1.25rem, 1.1386rem + 0.4819vw, 1.5rem);
  --h6-font-size:     clamp(1rem, 0.9443rem + 0.241vw, 1.125rem);
  --p-font-size:      clamp(0.875rem, 0.8193rem + 0.241vw, 1rem);
  --small-font-size:  clamp(0.75rem, 0.6943rem + 0.241vw, 0.875rem);

  /* Spacing */
  --spacing-xs:   0.25rem;
  --spacing-sm:   0.5rem;
  --spacing-md:   1rem;
  --spacing-lg:   2rem;
  --spacing-xl:   3rem;
  --spacing-xxl:  5rem;

  /* Others */
  --navbar-height:        clamp(3.5rem, 3.0542rem + 1.9277vw, 4.5rem);
  --box-padding:          clamp(1rem, 0.7771rem + 0.9639vw, 1.5rem);
  --border-color:       rgb(0 0 0 / 7%);
  --border-radius:        0.5rem;
  --box-shadow:           0 0 12px 4px rgb(0 0 0 / 4%);
  --transition-duration:  0.3s;
  --breadcrumb-divider:   '/';

  /* Button */
  --button-padding:     1.5rem;
  --button-height:      42px;
  --button-height-sm:   38px;
  --button-height-lg:   46px;
  --button-box-shadow:  0 0 10px rgb(0 0 0 / 16%);

  /* Forms */

  --input-border-color: rgb(0 0 0 / 15%);

  /* Pagination */
  --pagination-padding:     0.5rem 0.75rem;
  --pagination-padding-sm:  0.325rem 0.5rem;
  --pagination-padding-lg:  0.75rem 1rem;

  /* Scrollbar */
  --scrollbar-width:        10px;
  --scrollbar-track-color:  #e7e7e7;
  --scrollbar-thumb-color:  #a4a4a4;
  --scrollbar-hover-color:  #838383;
}

body.dark-theme {
  --body:         #1b1827;
  --body-light:   #2e234a;

  --heading:      #ebe9f1;
  --text:         #e9e8ee;
  --text-light:   #c1bdcf;
  --inactive:     #2b2052;
  --link:         #8ac3ff;
  --inactive:    rgb(124, 124, 124);

  --border-color: rgb(255 255 255 / 10%);
  --input-border-color: rgb(255 255 255 / 10%);
  --box-shadow:   0 0 8px rgb(255 255 255 / 8%);
}